<!DOCTYPE html>
<html>
  <head>
    <title><%= pageName %></title>
    <link rel='stylesheet' href='/public/<%= webName %>/stylesheets/template.css' />
  </head>
  <body>
    
    <div class = "template">
      <div class="topBar">
        <div>
          <%= user.name %> 교수님
          <input type="button" name = "logout" value="logout">
        </div>
        <div class="process">
          <input type="button" name="attendManagement" value="출석관리">
          <input type="button" name="lectureManagement"value="강의관리">
        </div>
      </div>
      <div class="sideBar"></div>
      <div class="page"> 
        <%- include('../page/'+pageName+'.ejs') %>
      </div>
    </div>
    <script src="/public/<%= webName %>/javascripts/template.js"></script>
  </body>
</html>
