<head>
  <link rel='stylesheet' href='/public/<%= webName %>/stylesheets/<%= pageName %>.css' />
</head>

<div class="attendPage">
  <div class="create">
    <div class="createBtn">
      <h1> + </h1>
    </div>
    <div class="createUI display-none">
      <div class="studentList">
        <table class="issueAttendence" border="1">

        </table>

        <table class="normalAttendence" border="1">
          <% for(let i=0; i< studentList.length; i++) { %>
            <tr class="student">
              <td class="picture">
                <img src="/resources/images/student/<%= studentList[i].student_picture %>">
              </td>
              <td class="id">
                  <%= studentList[i].student_id %>
              </td>
              <td class="name">
                  <%= studentList[i].student_name %>
              </td>
              <td class="attend">
                  출석<input type="radio" name="attend<%= i %>" value="A001">
                  지각<input type="radio" name="attend<%= i %>" value="A002">
                  결석<input type="radio" name="attend<%= i %>" value="A003">
              </td>
              <td class="token display-none">
                <%= studentList[i].student_token %>
              </td>
            </tr>
          <% } %>
        </table>
      </div>
      <div class="controllBtn">
        <select name="session">
          <option value="1">1차시</option>
          <option value="2">2차시</option>
          <option value="3">3차시</option>
          <option value="4">4차시</option>
          <option value="5">5차시</option>
        </select>
        <input class="display-none" type="text" name="late">분까지 지각 
        </br>
        <input type ="checkbox" name ="autoSaveFlag" value="1">자동출석 후 바로 저장
        <input type="button" name="autoAttendence" value="자동 출석">
        <input type="button" name="saveBtn_StudentList" value="저장">
      </div>
    </div>
  </div>

  <div class="attendList">
    <% for(let i=0; i< attendList.length; i++) { %>
      <div class="attend">
        <div class="attendID display-none"> <%= attendList[i].attend_id %></div>
        <div class="title"> <%= attendList[i].attend_date %> <%= attendList[i].attendence[0].lecture_session %>차시 <%= lectureName %></div>
        <div class="delete"> x </div>
        <div class="info"></div>
        <div class="controllBtn"></div>
      </div>
    <% } %>  
  </div>
  
</div>

<% include ../../include/baseJS.ejs %>
<script src="/public/<%= webName %>/javascripts/<%= pageName %>.js"></script>
<script type="text/javascripts"></script>
<script>
  var defaultStudentList = $(".attendPage .createUI .studentList").clone(); //초기 출석리스트를 저장함(createUI안에있는)
</script>