<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/public/<%= webName %>/stylesheets/<%= pageName %>.css' />
  </head>
  <body>
    <div class="loginPage">
      <div class="loginUI">
        <div class="title">
          <h1>
            교수 출석관리 시스템
          </h1>
        </div>
        <div class="input">
          <input name="id" type="text" placeholder="id"></br>
          <input name="pw" type="password" placeholder="password">
        </div>
        <div class="buttons">
          <input name="login" type="button" value="로그인">
        </div>
      </div>
    </div>
    
    <% include ../../include/baseJS.ejs %>
    <script src="/public/<%= webName %>/javascripts/<%= pageName %>.js"></script>
  </body>
</html>
