.display-none{
    display: none;
}
.attendPage .createBtn{
    background-color: yellow;
    height : 100px;
}

.attendPage .create .studentList .student .picture img{
    width : 80px;
    height : 100px;
}

.attendPage .create .controllBtn input[name=late]{
    width : 50px;   
}

.attendPage .attendList .attend .info .student .picture img{
    width : 80px;
    height : 100px;
}

.attendPage .attendList .attend .delete{
    display: inline-block;
    width: 25px;
}
.attendPage .attendList .attend .title{
    display: inline-block;
    width: 250px;
}
