.display-none{
    display: none;
}
.lecturePage .createBtn{
    background-color: yellow;
    height : 100px;
}

.lecturePage .lectureList .lecture .delete{
    display: inline-block;
    width: 25px;
}
.lecturePage .lectureList .lecture .title{
    display: inline-block;
    width: 250px;
}
