.loginPage .loginUI {
  width: 350px;
  height : 300px;
  border : 1px solid black;
  margin : 100px auto;
}

.loginPage .loginUI .title{
  border : 1px solid black;
}

.loginPage .input{
  width:160px;
  margin: 15px auto;
}

.loginPage .buttons{
  margin-left: 250px;
}