

.template .topBar{
    position : fixed;
    top : 25px;
    left : 25px;
    right : 25px;

    height : 80px;

    background-color: blue;
}

.template .sideBar {
    position : fixed;
    top : 120px;
    left : 25px;
    bottom: 25px;

    width : 250px;

    background-color: red;
}

.template .page{
    position : fixed;
    top : 120px;
    left : 300px;
    right : 25px;
    bottom: 23px; 
    overflow-y: scroll;
    /* margin : 120px 18px 25px 300px; */

    background-color : gray;
}