.display-none{
    display: none;
}
.timeTable{
    background-color: green;
}

/* 시간표의 교시 */
.timeTablePage .timeTable .time{ 
    color : white;
    width: 70px;
    font-size : 1.3em;
    text-align: center;
}

/* 시간표의 헤드라인(가장 윗 행)*/
.timeTablePage .timeTable .tableHead{
    color : white;
    font-size : 1.4em;
}

/* 시간표 모든 칸 */
.timeTablePage .timeTable .timeTableParts{
    width:140px;
    height : 90px;
    text-align : center;
}
.timeTablePage .timeTable .lecture{
    
}

/* 시간표 칸의 강의명 */
.timeTablePage .timeTable .lectureName{
    font-size: 1.8em;
}
/* 시간표 칸의 강의실 */
.timeTablePage .timeTable .lectureRoom{
    font-size: 1.2em;
}

